html {
  background-color: whitesmoke;
  color: #000;
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 60%;
}
@media only screen and (max-width: 479px) {
  body {
    width: 80%;
  }
}
header {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
}
header h1,
header h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
header h1 {
  font-weight: normal;
}
hr {
  background: #333;
  background-image: linear-gradient(to right, #666, #333, #666);
  border: 0;
  height: 1px;
}
@media only screen and (max-width: 479px) {
  hr {
    margin: 0;
  }
}
nav {
  display: flex;
  font-weight: normal;
  justify-content: center;
  margin: 0;
  padding: 8px 0;
}
nav ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  padding: 0 4px;
}
@media only screen and (max-width: 355px) {
  nav ul li {
    padding: 2px 4px;
  }
}
nav ul li a {
  color: #999;
  text-decoration: none;
}
.selected-tab {
  color: #333;
}
section {
  display: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}
section p {
  margin: 0;
  padding: 8px 0;
}
@media only screen and (max-width: 479px) {
  section p {
    padding: 4px 0;
  }
}
@media only screen and (max-width: 479px) {
  section p:first-child {
    padding-top: 8px;
  }
}
.selected-content {
  display: initial;
}
